﻿@font-face
{
    font-family: "DinPro";
    src: url('../Font/UVF DINPro.otf') format('opentype');
}

html
{
    min-height:100%;

}


body {
    margin: 0px;
    min-height: 100%;
    background-size: 100%;
    background-color: #707070;
}

.Container
{
    background-color: transparent;
    height:100px;
    width:300px;
    padding: 0;
    margin: 0;
}

.Header-fixed
{
    top:0px;
    height:110px;
    background-color: #6FA0FF;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width:100%;
    position:fixed;
    box-shadow: 0px 10px 20px #090D16;
}


.Below-Header
{
    margin-top: 110px;
    height: calc(100vh - 110px);
    display: flex;
}

.Skill-Panel
{
    padding-right:10px;
    margin-top:5px;
    background-color :#6FA0FF;
    display:normal;
    height:100%;
    width: 20vw;
    margin-bottom:0px;
    position:fixed;
    box-shadow: 7px 7px 15px #090D16;
}

.Skill-item
{
    padding-left:15px;
    display:block;   
    margin-bottom:10px; 
}

.Skill-indicator
{
    margin-left:10px;
    border:1px;
    border-style:solid;
    background-color:#808080;
    height:10px;
    width:200px;
}

.Skill-indicator .Fill
{
    margin:0;
    padding:0;
    background-color: white;
    height:100%;
    width:0; 
}

.Name
{
    color: black;
    font-size: 25px;
    width :240px;
    font-weight: bold;
    vertical-align: top;
}

.SubName
{
    width: 300px;
    overflow: hidden;
    color: white;
    font-size: 20px;
}

.Profile-portrait img
{
    width: 80px;
    padding:0px;
    margin :10px;
    background-color:transparent;
    border-color : white;
    border-style : solid;
    border-width : 2px;
    border-radius: 120px;
}

.Typewriter
{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    top:0px;
    margin-left:0px;
    margin-right:0px;
    height:80px;
    line-height:80px;
    width:70vw;
    background-color:transparent;
    text-align:center;
    display:block;
    text-decoration:none;
}

.Typewriter .Wrap
{
    margin-top:100px;
    font-size:40px;
    text-decoration:none;
    padding:0px 0;
    color:white;
    background-color:transparent;
    text-align:center;
    border-right: 0.08em solid #fff;
}

.Contact_Container {
    margin-left: 0px;   
    padding-right:10px;
    color: white;
    font-family: Arial;
    line-height:20px;
}

.Contact_Container .Contact{
    margin-left:0px;
    padding-left:15px;
    margin-bottom:20px;
    font-size:22px
}

.Contact_Container .Detail
{ 
    margin-bottom:0px;
    padding-left:20px;
    padding-bottom:10px;
    color:white;
    font-family:Arial;
    white-space:nowrap;
    
}

.Contact_Container img.Detail
{
    display:inline-block;
    height:20px;
    background-size:20px 20px;
    resize:none;
}

    .Contact_Container a.Detail {
        display: inline-table;
        padding-left: 5px;
        vertical-align: top;
        text-decoration: underline;
        text-align: center;
    }

.Contact_Container span.Detail
{
    display:inline-table;
    padding-left:5px;
    height:20px;
    font-size:15px;
    vertical-align:top;
    text-decoration:underline;
    text-align:center;
}


.Social_Skill_Container
{
    display:block;
    background-color:#6FA0FF;
    margin:10px;
    margin-top:20px;
    margin-left:0px;
}

.Social_Item_Container .Social_Detail
{
    margin:10px;
    margin-left:0px;
    padding-left:15px;
}

.Social_Item_Container .Pro_Star_Container
{
    margin:10px;
    position:relative;
    background-color:#808080;
    width:100px;
    height:24px;
}

.Pro_Star_Container .Fill
{
    position:absolute;
    height:100%;
    width:0%;
}

.Pro_Star_Container img.Pro_Star
{
    position:absolute;
    width:100%;
    height:100%;
}
/*
.Social_Item_Container .Circle_Container{
    position:relative;
    height:40px;
    width:80px;
    border-style:solid;
    border-top-left-radius:50% 100%;
    border-top-right-radius:50% 100%;
    background-color:#707070;      
    margin:10px;
}

.Circle_Container .Inner_Circle
{

    position:absolute;
    height: calc(100% - 5px);
    width: calc(100% - 10px);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color:#6FA0FF;
    bottom:0px;
    left:5px;
}

.Circle_Container .Fill
{
    position:absolute;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    max-width:100%;
    height:100%;
    width:70%;
}*/

.Main {
    width: 79vw;
    margin-left: 22vw;
    margin-top: 1vh;
    padding-top: 2vh;
    padding-left:2vw;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #6FA0FF;
}

h1 {    
    text-align: left;
    font-family: DinPro; 
    margin: 10px;
}

h2 { 
    text-align: left;
    font-family: DinPro;
    margin: 10px;
}

h4{
  color:white;
  padding:5px;
  margin-left:0px;
  margin-right:0px;
  width:100%;
  background-color:#1355DA;
  border-bottom-right-radius:7% 50% ;
}
